html {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.titolo { /*posizione del modulo*/
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}

.video { /*posizione del modulo*/
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
}

.video h3{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #0d0d0d;
    text-shadow: 2px 1px 10px #ffffff;
}

.altosinistra {
  position: absolute;
  bottom: 30%;
  left: 10%; 
  top: 150px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase; /*testo tutto maiuscolo*/ 
  letter-spacing: 1,5px; /*distanza tra una lettera e un'altra*/
  text-shadow: 2px 1px #3b3b3b;
  font-size: 15px;
  text-align: center;
  line-height: 1.8;
}

p.scarica{
  margin-top:75px;
  margin-bottom: 20px;
}  

h1{  
  font-size: 98px;
  text-shadow: 2px 4px 10px #000000;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px; 
  color: #5fbae9;
  /*border-left: 4px solid #5fbae9;*/
  text-align: center;
}

h2{  
  font-size: 68px;
  text-shadow: 2px 4px 10px #000000;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px; 
  color: #a6cee2;
  /*border-left: 4px solid #5fbae9;*/
  text-align: center;
}

.contenitore {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: row; 
  justify-content: center;
  margin: auto;
}

.fotoscorrimento {
  display: none;
}

.dissolvi {
  animation-name: dissolvi;
  animation-duration: 1.5s;
}

@keyframes dissolvi {
  from {opacity: .4} 
  to {opacity: 1}
}

input[type=submit] {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(165, 1, 1, 0);
}

.bottoni{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

  input[type=submit] {
    width: 450px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    border: none;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
  }
  
  input[type=submit]:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
  }
  
  input[type=submit]:focus {
    outline: none;
  }
  